#warning-box {
  height: 80vh;
  width: 80vw;
  background-color: rgb(255, 226, 226);
  border: none;
  box-shadow: 2px 2px 2px black;
  border-radius: 4px;
  position: absolute;
  left: 10vw;
  top: 10vh;
  transition: top 0.3s ease;
}
#warning-box:hover {
  top: 9vh;
}